<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Testing This Out</h2>
    <p>{{ ashley }}</p>
    <p>{{ num }}</p>

    {% for number in range(0, num): %}
        {{ ashley }}
    {% endfor %}

    {% if ashley == 'ashley' %}
        <p>The phase says BIG MONEY, LONG MONEY, ABUDANCE OF MONEY!</p>
        {% endif %}
</body>
</html>